.making {
  display: flex;
  justify-content: center;
}

.making__container {
  width: 480px;
  height: auto;
  padding: 0px 15px;
  justify-content: center;
}
.result-image {
  width: 360px;
  height: 360px;
}

.info {
  margin-top: 14px;
}

.img-review-box {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
}

.img-review {
  width: 360px;
  height: 360px;
}

.making__pass-button {
  display: flex;
  justify-content: space-between;
}

.question-box {
  border-bottom: 1px solid;
  border-color: rgb(13, 110, 253);
}
