.question {
  display: flex;
  justify-content: center;
}

.question__container {
  width: auto;
  height: auto;
}
.question-box {
  width: 480px;
  height: auto;
  border-bottom: 1px solid;
  border-color: rgb(13, 110, 253);
}

.answer-btn {
  width: 480px;
  height: auto;
}
.btn2 {
  width: 480px;
  height: auto;
}
