.result {
  display: flex;
  justify-content: center;
}

.result__container {
  width: 480px;
  height: auto;
}

#result__img {
  width: 360px;
  height: 360px;
  background-size: cover;
}

.info {
  margin-top: 14px;
}

.result__button-group {
  width: 480px;
  height: auto;
}

.adbanner {
  width: 360px;
  height: 120px;
}

.result__img-box {
  justify-content: center;
  display: flex;
}

.self-ad {
  width: 480px;
  height: 160px;
}

.ad-container {
  display: flex;
  justify-content: center;
  background-size: cover;
}
