/* 스타트버튼 재사용 */
.start__button-group {
  display: flex;
  justify-content: center;
}

.start-btn {
  width: 360px;
}

.addthis-bts {
  display: flex;
  justify-content: center;
}

.join-btn {
  width: 445px;
}
